extends ../layout

block content
    p
        h3="Project" + " " + projectId.name

    p
        h3 Requests
        ul
            each request in requests
                li=request.subject + " " + request.description + " " + request.group.name + " " + request.project.name