extends ../layout

block content
    p
        ul
            li=requestId.id
            li=requestId.subject
            li=requestId.description

            ul
                each reply in replies
                    div
                        li(value="reply.id")=reply.content + " " + reply.user
