.container {
    display: flex;
    justify-content: flex-start;
}

.left-frame {
    width: 15em;
    background-color: cadetblue;
}

.right-frame {
    background-color: white;
}

.main_request {
    display: flex;
    width: 900px;
    justify-content: space-around;
}

.main_request:nth-child(2n) {
    background-color: #eee;
}
