extends ../layout

block content
    p
        h3=groupId.name
        ul
            each project in projectsByGroup.project
                li
                    a(href="/projects/" + project.id)=project.name
        div
            h3 Add project
            p
                form(action="/projects/add" method="POST")
                    label(for="new_project") New project
                    input(type="text" id="new_project" value="" name="name")
                    p
                        label(for="group_id") Group
                        select(name="group_id" id="group_id")
                                option(value=groupId.id)=groupId.name
                    input(type="submit" value="Add project" )